body {
  width: 960px;
  margin: 0 auto;
  background-color: #777;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;}
#content {
  overflow: auto;
  height: 100%;}
#header, #nav, #feature, #footer {
  background-color: #ebebeb;
  color: #777;
  padding: 10px;
  margin: 10px;
  text-align: center;}
.column1 {
  background-color: #ebebeb;
  color: #777;
  width: 495px;
  float: left;
  margin: 10px;
  text-align: center;}
#article {
  background-color: #777;
  color: #ebebeb;
  padding: 10px;
  margin: 10px;
  text-align: center;  
}
#a_header, #a_header2 {
  background-color: #ebebeb;
  color: #777;
  padding: 10px;
  margin: 10px;
  text-align: center;  
}
.column2 {
  background-color: #ebebeb;
  color: #777;
  width: 425px;
  height: 340px;
  float: left;
  margin: 10px;
  text-align: center;
}
li, h1, h2, h3 {
  display: inline;
  padding: 5px;}